/* QMainWindow {
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
} */

QStatusBar, QToolTip, QLabel#slider-tooltip {
  color: rgba(208, 180, 250, 0.664);
  background-color: rgba(8, 2, 34, 0.884);
  padding: 3px;
}

QMenuBar, QMenu {
  background-color: rgba(8, 2, 34, 0.884);
  color: white;
}

QMenuBar::item, QMenu, QMenu::item, QMenu::right-arrow {
  padding: 5px;
}

QMenu::right-arrow {
  padding-right: 20px;
  padding-left: 20px;
}

QMenuBar::item:selected, QMenu::item:selected {
  color: rgb(24, 5, 53);
  background-color: rgba(208, 180, 250, 0.664);  
}

QMenuBar::item:pressed, QMenu::item:pressed {
  color: white;
  background-color: rgba(96, 53, 160, 0.479);
}

QDockWidget {
  color: rgb(216, 212, 224);
  font-weight: bold;
  font-size: 14px;
  background-color: rgb(74, 0, 120);
}

QListWidget, QWidget#custom_tab_widget {
  background-color: rgba(0, 0, 0, 0.3);
}

QWidget#dock_title_bar {
  background-color: rgba(12, 3, 44, 0.911);
}

QWidget#dock_title_bar QLabel, QLabel#track_name {
  color: rgba(255, 255, 255, 0.815);
}

QLabel#track_name {
  border-radius: 15px;
}

QWidget#tabs_container {
  padding: 2px 0 0 0;
}

QWidget#dock_title_bar QToolButton, QWidget#tabs_container QPushButton {
  border: none;
}

QWidget#tabs_container QPushButton {
  color: rgba(255, 255, 255, 0.815);
  padding: 5px;
  margin: 0.5px;
}

QWidget#dock_title_bar QToolButton:checked, QWidget#tabs_container QPushButton:checked {
  background-color: rgba(96, 53, 160, 0.479);
}

QWidget#tabs_container QPushButton:hover {
  color: rgb(24, 5, 53);
  font-weight: 600;
  border: 0.5px solid rgba(255, 255, 255, 0.815);
}

QWidget#dock_title_bar QToolButton:hover, QWidget#tabs_container QPushButton:hover {
  background-color: rgba(208, 180, 250, 0.664);  
}

QWidget#tabs_container QPushButton:pressed {
  background-color: rgba(179, 148, 227, 0.664);
}

QWidget#tabs_container {
  background-color: rgba(12, 3, 44, 0.74);
}

QWidget#buttons_container {
  background-color: rgba(208, 180, 250, 0.2);
  border-radius: 30px;
}

#buttons_container QPushButton {
  background-color: rgba(5, 1, 20, 0.7);
}

#volume_button, #volume_toggle_button {
  background-color: rgba(5, 1, 20, 0.6);
}

#buttons_container QPushButton:hover, #volume_button:hover, #volume_toggle_button:hover {
  border: 1px solid white;
}

#buttons_container QPushButton:hover:pressed, #volume_button:pressed, #volume_toggle_button:pressed {
  background-color: rgb(7, 1, 29) !important;
}

QPushButton#play_pause_button {
  image: url("./assets/play_disabled.png");
  border-radius: 25px;
  padding: 8px 8px 8px 12px;
}

QPushButton#ten_backward_button {
  image: url("./assets/ten_backward_disabled.png");
  border-radius: 21px;
  padding: 10px;
}

QPushButton#ten_forward_button {
  image: url("./assets/ten_forward_disabled.png");
  border-radius: 21px;
  padding: 10px;
}

QPushButton#previous_button {
  image: url("./assets/previous_disabled.png");
  border-radius: 19px;
  padding: 8px;
}

QPushButton#next_button {
  image: url("./assets/next_disabled.png");
  border-radius: 19px;
  padding: 8px;
}

QPushButton#shuffle_button {
  image: url("./assets/shuffle_off.png");
  border-radius: 15px;
  padding: 7px;
}

QPushButton#repeat_button {
  image: url("./assets/repeat_none.png");
  border-radius: 15px;
  padding: 7px;
}

QPushButton#volume_button {
  image: url("./assets/volume_on.png");
  border-radius: 15px;
  padding: 7px;
}

QPushButton#volume_toggle_button {
  image: url("./assets/arrow-up.png");
  border-radius: 3px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;
  padding-right: 3.5px;
}

QSlider:horizontal {
    background: transparent;
    height: 25px;
}

/* Barra base (lo que no está recorrido) */
QSlider::groove:horizontal {
    background: rgba(208, 180, 250, 0.3);
    height: 6px;
    border-radius: 3px;
}

QSlider:vertical {
    background: transparent;
    width: 25px;
}

QSlider::groove:vertical {
    background: rgba(208, 180, 250, 0.3);
    width: 6px;
    border-radius: 3px;
}

/* Parte activa (progreso) */
QSlider::sub-page:horizontal {
    background: #380885;
    border-radius: 3px;
}

QSlider::add-page:vertical {
    background: #380885;
    border-radius: 3px;
}

/* Handle principal */
QSlider::handle {
    background: #380885;
    width: 6px;
    height: 6px;
    border-radius: 8px;
    border: 5px solid rgba(12, 3, 44, 0.9);
}

QSlider::handle:horizontal {
    margin: -5px 0;
}

QSlider::handle:vertical {
    margin: 0 -5px;
}

/* Hover del handle */
QSlider::handle:hover {
    width: 10px;
    height: 10px;
    border-width: 3px;
}

/* Presionado */
QSlider::handle:pressed {
  width: 10px;
  height: 10px;
  border-width: 3px;
  background-color: rgba(20, 8, 65, 0.9);  
  border-color: rgba(208, 180, 250, 0.9);
}

QScrollBar:vertical {
    background: transparent;
    width: 4px;
    margin: 0px;
}

QScrollBar:vertical:hover {
    background: rgba(0, 0, 0, 80);
}

QScrollBar::handle:vertical {
    background: #5c22b9;
    border-radius: 10px;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    background: #7866c2;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
    background: none;
}